<div class="main_bg" dir="rtl"
     style="padding: 20px;overflow: overlay">
  <div style="width: 50%">
    <div style="display: flex;flex-flow: row;align-items: start;">
      <form style="width: 100%;display: flex;flex-flow: row;align-items: start;">
        <mat-form-field style="flex-grow: 1">
          <mat-label>جستوجو کالا</mat-label>
          <input type="text"
                 placeholder="جست و جوی کالا"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectProduct($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let product of selectedProduct | async"
                        [value]="product">{{"(" + product.productCode + ")" + product.productName}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div style="display: flex;flex-flow: row wrap;align-items: start">
      <mat-form-field style="flex-grow: 1.5">
        <mat-label>کد کالا</mat-label>
        <input matInput [(ngModel)]="product.productCode" readonly>
      </mat-form-field>
      <mat-form-field style="flex-grow: 1.5">
        <mat-label>نام کالا</mat-label>
        <input matInput [(ngModel)]="product.productName" readonly>
      </mat-form-field>
    </div>
    <div style="display: flex;flex-flow: row wrap;align-items: start">
      <mat-form-field style="flex-grow: 1.5">
        <mat-label>کد تامین کننده</mat-label>
        <input matInput [(ngModel)]="product.companyCode" readonly>
      </mat-form-field>
      <mat-form-field style="flex-grow: 1.5">
        <mat-label>نام تامین کننده</mat-label>
        <input matInput [(ngModel)]="product.companyName" readonly>
      </mat-form-field>
    </div>
    <form [formGroup]="formGroup" style="display: flex;flex-flow: row wrap;flex-direction: row">
      <mat-form-field>
        <mat-label>UID</mat-label>
        <input matInput [(ngModel)]="barcodeuid" required formControlName="barcodeuid">
        <mat-icon matSuffix (click)="openScan()" *ngIf="!barcodeuid">wallpaper</mat-icon>
        <button *ngIf="barcodeuid" matSuffix mat-icon-button aria-label="Clear" (click)="clearUid()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <ng-container *ngIf="!productCatalog">
        <button class="btn" mat-raised-button color="primary" (click)="getProductCatalog(barcodeuid)"
                [disabled]="!formGroup.valid">ارسال
        </button>
      </ng-container>
      <ng-container *ngIf="productCatalog">
        <mat-form-field>
          <mat-label>تعداد</mat-label>
          <input matInput type="number" [(ngModel)]="product.count" required formControlName="count">
        </mat-form-field>
        <button class="btn" mat-raised-button color="primary" (click)="save()" [disabled]="!formGroup.valid">ثبت
        </button>
      </ng-container>
    </form>
    <div *ngIf="productCatalog"
         style="display: flex;flex-flow: row wrap;align-items: start;width: 100%;border: 1px solid darkgray;padding: 10px;border-radius: 5px">
      <div style="display: flex;flex-flow: row wrap;align-items: start;width: 100%">
        <mat-form-field style="flex-grow: 3">
          <mat-label>نام فارسی</mat-label>
          <input matInput [(ngModel)]="productCatalog.PersianProductName" readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 3">
          <mat-label>نام انگلیسی</mat-label>
          <input matInput [(ngModel)]="productCatalog.EnglishProductName" readonly>
        </mat-form-field>
      </div>
      <div style="display: flex;flex-flow: row wrap;align-items: start;width: 100%">
        <mat-form-field style="flex-grow: 3">
          <mat-label>سازنده</mat-label>
          <input matInput [(ngModel)]="productCatalog.LicenseOwner" readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 3">
          <mat-label>دسته بندی</mat-label>
          <input matInput [(ngModel)]="productCatalog.ProductCategory" readonly>
        </mat-form-field>
      </div>
      <div style="display: flex;flex-flow: row wrap;align-items: start;width: 100%">
        <mat-form-field style="flex-grow: 3">
          <mat-label>UID</mat-label>
          <input matInput [(ngModel)]="productCatalog.UID" readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 3">
          <mat-label>GTIN</mat-label>
          <input matInput [(ngModel)]="productCatalog.GTIN" readonly>
        </mat-form-field>
      </div>
      <div style="display: flex;flex-flow: row wrap;align-items: start;width: 100%">
        <mat-form-field style="flex-grow: 3">
          <mat-label>IRC</mat-label>
          <input matInput [(ngModel)]="productCatalog.IRC" readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 3">
          <mat-label>Batch Code</mat-label>
          <input matInput [(ngModel)]="productCatalog.BatchCode" readonly>
        </mat-form-field>
      </div>
      <div style="display: flex;flex-flow: row wrap;align-items: start;flex-grow: 6">
        <mat-form-field style="flex-grow: 1.5">
          <mat-label>تاریخ تولید</mat-label>
          <input matInput [(ngModel)]="productCatalog.Manufacturing" readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 1.5">
          <mat-label>تاریخ انقضا</mat-label>
          <input matInput [(ngModel)]="productCatalog.Expiration" readonly>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
